pl_ingest_poultry_data.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"ls_adls_conagra":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pl_ingest_poultry_data')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ForEachFile","type":"ForEach","dependsOn":[],"userProperties":[],"typeProperties":{"items":{"value":"@createArray('2020', '2021', '2022', '2023', '2024')","type":"Expression"},"isSequential":true,"activities":[{"name":"CopyDatafromraw","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"ExcelSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_excel_pos_raw","type":"DatasetReference","parameters":{"p_folder_path":"uploads","p_file_name":"@concat('Fz_Rfg Processed Poultry_POS_', item(), '.xlsx')"}}],"outputs":[{"referenceName":"ds_csv_pos_bronze","type":"DatasetReference","parameters":{"p_folder_path":"poultry-pos-csv/year=@{item()}","p_file_name":"pos_@{item()}.csv"}}]}]}},{"name":"copy_product_master","type":"Copy","dependsOn":[{"activity":"ForEachFile","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"ExcelSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"Product","type":"String","physicalType":"String"},"sink":{"name":"Product","type":"String","physicalType":"String"}},{"source":{"name":"UPC 13 digit","type":"String","physicalType":"String"},"sink":{"name":"UPC 13 digit","type":"String","physicalType":"String"}},{"source":{"name":"Aisle Name","type":"String","physicalType":"String"},"sink":{"name":"Aisle Name","type":"String","physicalType":"String"}},{"source":{"name":"Category Name","type":"String","physicalType":"String"},"sink":{"name":"Category Name","type":"String","physicalType":"String"}},{"source":{"name":"Sub-Category Name","type":"String","physicalType":"String"},"sink":{"name":"Sub-Category Name","type":"String","physicalType":"String"}},{"source":{"name":"Manufacturer Name","type":"String","physicalType":"String"},"sink":{"name":"Manufacturer Name","type":"String","physicalType":"String"}},{"source":{"name":"Brand Franchise Name","type":"String","physicalType":"String"},"sink":{"name":"Brand Franchise Name","type":"String","physicalType":"String"}},{"source":{"name":"Brand Name","type":"String","physicalType":"String"},"sink":{"name":"Brand Name","type":"String","physicalType":"String"}},{"source":{"name":"Package","type":"String","physicalType":"String"},"sink":{"name":"Package","type":"String","physicalType":"String"}},{"source":{"name":"Total Count","type":"String","physicalType":"String"},"sink":{"name":"Total Count","type":"String","physicalType":"String"}},{"source":{"name":"Total Ounces","type":"String","physicalType":"String"},"sink":{"name":"Total Ounces","type":"String","physicalType":"String"}},{"source":{"name":"Form","type":"String","physicalType":"String"},"sink":{"name":"Form","type":"String","physicalType":"String"}},{"source":{"name":"Flavor / Scent","type":"String","physicalType":"String"},"sink":{"name":"Flavor / Scent","type":"String","physicalType":"String"}},{"source":{"name":"Meat Source","type":"String","physicalType":"String"},"sink":{"name":"Meat Source","type":"String","physicalType":"String"}},{"source":{"name":"Product Type","type":"String","physicalType":"String"},"sink":{"name":"Product Type","type":"String","physicalType":"String"}},{"source":{"name":"Type Of Meat Substituted","type":"String","physicalType":"String"},"sink":{"name":"Type Of Meat Substituted","type":"String","physicalType":"String"}},{"source":{"name":"Type Of Substitute","type":"String","physicalType":"String"},"sink":{"name":"Type Of Substitute","type":"String","physicalType":"String"}},{"source":{"name":"Cooked Info","type":"String","physicalType":"String"},"sink":{"name":"Cooked Info","type":"String","physicalType":"String"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_excel_attributes_raw","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ds_csv_attributes_bronze","type":"DatasetReference","parameters":{}}]}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2026-01-13T21:36:12Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_excel_attributes_raw')]","[concat(variables('factoryId'), '/datasets/ds_csv_attributes_bronze')]","[concat(variables('factoryId'), '/datasets/ds_excel_pos_raw')]","[concat(variables('factoryId'), '/datasets/ds_csv_pos_bronze')]"]},{"name":"[concat(parameters('factoryName'), '/ds_excel_attributes_raw')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_conagra')]","type":"LinkedServiceReference"},"annotations":[],"type":"Excel","typeProperties":{"sheetName":"Rfg_and_Fz_Meat_and_Substitute","location":{"type":"AzureBlobFSLocation","fileName":"Product Attributes.xlsx","folderPath":"uploads","fileSystem":"raw"},"firstRowAsHeader":true},"schema":[{"name":"Geography","type":"String"},{"name":"Time","type":"String"},{"name":"Product","type":"String"},{"name":"UPC 13 digit","type":"String"},{"name":"Unit Sales","type":"String"},{"name":"Volume Sales","type":"String"},{"name":"Dollar Sales","type":"String"},{"name":"Price per Unit","type":"String"},{"name":"Price per Volume","type":"String"},{"name":"Base Unit Sales","type":"String"},{"name":"Base Volume Sales","type":"String"},{"name":"Base Dollar Sales","type":"String"},{"name":"Incremental Units","type":"String"},{"name":"Incremental Volume","type":"String"},{"name":"Incremental Dollars","type":"String"},{"name":"ACV Weighted Distribution","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_csv_attributes_bronze')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_conagra')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"product_attributes.csv","folderPath":"product-master","fileSystem":"bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_excel_pos_raw')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_conagra')]","type":"LinkedServiceReference"},"parameters":{"p_folder_path":{"type":"string","defaultValue":"uploads"},"p_file_name":{"type":"string","defaultValue":"pos_sample.xlsx"}},"annotations":[],"type":"Excel","typeProperties":{"sheetName":"Test","location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().p_file_name","type":"Expression"},"folderPath":{"value":"@dataset().p_folder_path","type":"Expression"},"fileSystem":"raw"},"firstRowAsHeader":true},"schema":[{"name":"Geography","type":"String"},{"name":"Time","type":"String"},{"name":"Product","type":"String"},{"name":"UPC 13 digit","type":"String"},{"name":"Unit Sales","type":"String"},{"name":"Volume Sales","type":"String"},{"name":"Dollar Sales","type":"String"},{"name":"Price per Unit","type":"String"},{"name":"Price per Volume","type":"String"},{"name":"Base Unit Sales","type":"String"},{"name":"Base Volume Sales","type":"String"},{"name":"Base Dollar Sales","type":"String"},{"name":"Incremental Units","type":"String"},{"name":"Incremental Volume","type":"String"},{"name":"Incremental Dollars","type":"String"},{"name":"ACV Weighted Distribution","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_csv_pos_bronze')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_conagra')]","type":"LinkedServiceReference"},"parameters":{"p_folder_path":{"type":"string","defaultValue":"poultry-pos-csv"},"p_file_name":{"type":"string","defaultValue":"year=2020"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().p_file_name","type":"Expression"},"folderPath":{"value":"@dataset().p_folder_path","type":"Expression"},"fileSystem":"bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}